# This is an example of what your .env file might look like. Change these settings to match your environment and save as .env

# A space separated library list
LIBL=LIB1 LIB2 LIB3

# The current library
CURLIB=SDI4IPGM

# The libraries where SDK4i objects are located
SDK4I_DATA_LIB=SDK4IDTA
SDK4I_PGM_LIB=SDK4IPGM
SDK4I_WEB_LIB=SDK4IWEB