# Set default behavior for text files
  # Set line endings to LF
* text=auto eol=lf

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Except binary files.
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.ttf binary
*.zip binary

# Force Windows scripts to always use CRLF
*.[cC][mM][dD] text eol=CRLF
*.[bB][aA][tT] text eol=CRLF