# Set default behavior for text files
  # Set line endings to LF
  # Set encoding to UTF-8
* text eol=lf
* text encoding=utf-8

# Except binary files.
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.ttf binary
*.zip binary

# Force Windows scripts to always use CRLF
*.[cC][mM][dD] text eol=CRLF
*.[bB][aA][tT] text eol=CRLF